show.html.erb
<div class="container">
	<table>
		<thead>
			<tr>
				<th>商品名</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<% @order.order_details.each do |f| %>
			<tr>
				<td><%= f.item.name  %></td>
			</tr>
		</tbody>
	</table>
	<%# binding.pry %>
	<%= f.item.name  %>
	<%#= f.order.end_user.id %>
	<% end %>
</div>