

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";  /*ここを追加*/
    @import "bootstrap";


    .p {
    background-color:#EEEEEE;
    }

.new_admin_item {
	display: inline-block;
	margin-left: 1000px;
	background-color: #fff;
	border: 1px solid #888;
	color: #888;
	border-radius: 100%;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	&:hover {
		background-color: #ddd;
	}
}
.ppc{
	text-decoration:none;
	color:gray;
}